.l-docs__title {
  margin-top: 1.5rem;
}

.p-side-navigation__drawer h3 {
  margin-top: 1rem;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 20rem;
  max-height: 50vh;
  margin-bottom: 1rem;
  padding: 1rem;
  gap: 1rem;

  background-color: #c0392b;
  background-image: url(/banner.png);
  background-size: contain;

  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: clamp(2rem, -1.5rem + 8vw, 3rem);
  text-align: center;
  text-wrap: balance;

  > div {
    line-height: 1.3em;
    padding: 0.5rem;
    color: #c0392b;
    background: white;
  }

  > div:last-of-type {
    font-size: 0.5em;
  }
}

.moocfi-logo {
  display: inline-block;
  padding-left: 1.5rem;

  & a {
    display: flex;
    align-items: center;

    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.75rem;
    color: white;
    text-decoration: none;

    &:visited, &:hover {
      color: inherit;
      text-decoration: inherit;
    }

    & img {
      width: 2em;
      height: 2em;
      margin-right: 0.25em;
    }
  }
}

.social-links-footer {
  display: flex;
  gap: 1.5rem;

  & a {
    color: white;

    &:visited, &:hover {
      color: inherit;
    }
  }

  & svg {
    height: 2rem;
  }
}

.university-links-footer {
  display: flex;
  gap: 1.5rem;

  & img {
    height: 6rem;
  }
}

/* hovering <dfn> will show data-title as popup */

dfn {
  border-bottom: 2px dotted black;
  font-style: normal;
  position: relative;
}

dfn:hover:after {
  content: attr(data-title);
  color: #fff;
  background: #333;
  position: absolute;
  top: 150%;
  left: 20%;
  transform: translateX(-20%);
  white-space: nowrap;
  z-index: 1000;
  padding: 13px 10px 3px;
  clip-path: polygon(0 20%, 15% 20%, 25% 0, 35% 20%, 100% 20%, 100% 100%, 0 100%);
}

.recommended-reading {
  padding: 0.8rem;
  margin-bottom: 2rem;
  border-left: 0.2rem solid #528afc;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  .heading {
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 1rem;
  }

  .content {
    margin: 0;
    padding-bottom: 0.5rem;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    & li {
      margin-bottom: 0.5rem;
    }

    & li:last-child {
      margin-bottom: 0;
    }
  }
}
