.ynGfR {
  width: 3.4em;
  height: 3.4em;
  margin-right: 0.5em;
  margin-bottom: 0;
}

.llXBQp {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: "Open Sans Condensed", sans-serif !important;
  font-size: 1.75em !important;
}

.fPvQSS {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em;
  padding-right: 1.7em;
  height: 64px;
  background-color: white;
}

.fPvQSS:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: black;
}

.gKbkGC {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jCecle {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0.3em;
}

.jBjZBN {
  border-left: 0.5em solid white;
  width: 100%;
  background-color: white;
  border-color: #f75b4b !important;
  background-color: #edeaea;
}

.jBjZBN:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: black;
  background-color: #f5ebeb;
  border-color: #f5ebeb;
}

.eKHeMv {
  border-left: 0.5em solid white;
  width: 100%;
  background-color: white;
}

.eKHeMv:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: black;
  background-color: #f5ebeb;
  border-color: #f5ebeb;
}

.hUKTrQ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hUKTrQ a {
  color: black;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.hUKTrQ.active-section {
  background-color: #ffdfdf;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hUKTrQ.active-section a {
  color: black;
}

.bCqPWG {
  margin-left: 0;
  margin-top: 0.5em;
  padding-left: 0;
}

.iqtrpt {
  vertical-align: middle;
  margin-right: 0.5em;
  margin-left: 0.1em;
  color: var(--color);
  font-size: 1.5em;
}

.cvhAWi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  display: none;
}

@media only screen and (min-width: 900px) {
  .cvhAWi {
    height: 100%;
    width: 324px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    overflow-y: scroll;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 1200px) {
  .cvhAWi {
    width: 245px;
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 900px) {
  .cvhAWi {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }
}

.caPWJt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.eSOumu {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 1em;
}

.iKbMPT {
  width: 100%;
  text-align: center;
  padding: 1em;
  padding-top: 2em;
  font-weight: bold;
  color: #c0392b;
  font-size: 1.15em;
}

.eEQwYJ {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1em;
}

@media only screen and (min-width: 900px) {
  .eEQwYJ {
    display: none;
  }
}

.jlIBZz {
  padding: 0 0.5rem;
  background-color: #fcfcfc;
  margin-bottom: 5rem;
  min-height: 80vh;
  font-size: 1rem;
}

.hiesVy {
  height: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .hiesVy {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.fwfoFU {
  color: black;
  margin-bottom: 1rem;
  margin: 1rem;
}

.jEKLpz {
  padding: 1rem 0;
}

.czSdBg {
  padding-top: 1rem;
}

.czSdBg a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.imgwrR {
  height: 35rem;
  position: relative;
}

.imgwrR a {
  color: #006fe6;
}

.cOgljD {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(/static/banner-4f9056f93ccb39f54f9cb121662ba9b5.png);
  -webkit-filter: invert(1) grayscale(1) brightness(1.5) opacity(0.5);
  filter: invert(1) grayscale(1) brightness(1.5) opacity(0.5);
  z-index: -50000;
}

.cuOkjz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.zuIqA {
  width: 90%;
  max-width: 800px;
}

.gFNiRW {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fjCpe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fjCpe img {
  height: 6rem;
  width: auto;
  margin: 1rem;
}

@media only screen and (min-width: 900px) {
  .fRYZzJ {
    margin-left: 324px;
  }
}

@media only screen and (max-width: 1200px) {
  .fRYZzJ {
    margin-left: 245px;
  }
}

@media only screen and (max-width: 900px) {
  .fRYZzJ {
    margin-left: 0;
  }
}

.embgRO {
  margin: 1em 16px !important;
}

.bXpZSt {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.hmGmSr {
  height: 30rem;
  max-height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #c0392b;
  background-image: url(/static/banner-4f9056f93ccb39f54f9cb121662ba9b5.png);
  text-align: center;
}

.kTtmWY {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: 2rem;
  color: #c0392b;
  background: white;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
}

@media only screen and (min-width: 720px) {
  .kTtmWY {
    font-size: 3rem;
  }
}

.bHenQC {
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 500;
  color: #c0392b;
  background: white;
  padding: .5rem;
  font-size: 1.4rem;
  margin: 0 1rem;
}

